input{
    display: block;
    margin-bottom: 10px;
}


button{
    margin-bottom: 20px;
}




.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px;

}


.button_exemple{
    display: block;
    margin-bottom: 20px;
}