
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container__styles{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
}
.block{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: yellowgreen;
    margin-right: 10px;
    background-color:transparent;
    visibility: hidden;
    transition: background-color 2s ease-in;

}
.wide__block{
    background-color: goldenrod;
    visibility: visible;
    position: relative;
    z-index: 100;
    
}

.button{
    width: 100px;
    height: 50px;
    background-color: tomato;
}

.background_green{
    background-color: aqua;
}



